@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.about-container{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #ffffff;
}
.about-text{
    color: #24263B;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 20px;

}
.about-container .container span{
    color: #24263B;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.line{
    padding-top: 20px;
    position: absolute;
    
     right: 42%;
    width: 200px;
    border-bottom: 2px solid #FF5823;
    padding-bottom: 30px;
}
.about-image{
    width: 455px;
    height: 552px;
    object-fit: cover;
    box-shadow: 10px 10px 10px 10px #24263B;
    border-radius: 10px;
}
.about-image1{
    width: 455px;
    height: 552px;
   
    box-shadow: 10px 10px 10px 10px #24263B;
    border-radius: 10px;
}

.about-image1 h1{
    color: #24263B;
    font-size: 15px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    align-self: self-start;
    text-align: justify;
}
.h1-responsive{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
}
.w-responsive{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.label{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.h2{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    align-self: self-start;
    text-align: justify;
    padding-left: 10px;
    font-size: 16px;
}
.h6{
    display: flex;
    padding-left: 10px;
}

.h6 i{
      color: #2A7DFD; 
      width: 20px;
      height: 20px;
      margin-right: 10px;
}
.h6 h6{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    align-self: self-start;
    text-align: justify;
}
.span{
    color: #ffffff;
}
.about-buttons{
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}
.about-button1{
    width: 180px;
    height: 44px;
    background: #FF5823;
    color: #ffffff;
   
    border-radius: 30px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
 

.about-button1:hover{
    background: red;
   
}
.about-button1 span:hover{
    color: #ffffff;
}
.about-button2{
    width: 180px;
    height: 44px;
    background: #FF5823;
    color: #ffffff;
   
    border-radius: 30px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
    
}
.about-button2:hover{
    background: red;
}
.contact-button{
    width: 180px;
    height: 44px;
    background: #FF5823;
    color: #ffffff;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    border: none;
}
.des{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    align-self: self-start;
    text-align: justify;
}
@media screen and (max-width:1000px) {
  .line{
    padding-top: 0px;
         left: 25%;

  }

  .about-image1{
        padding-top: 50px;
        width: 100%;
        text-align: center;
        left: 0px;
        height: 600px;
  }
  .about-image{
    padding-top: 50px;
    width: 100%;
    text-align: center;
    height: 600px;

}
.contact-button{
     width: 40%;
    
}
}
@media (min-width: 768px) and (max-width: 1023px) {

    .line{
        padding-top: 0px;
             left: 37%;
    
      }
      .about-image{
        margin-left: 40px;
      }
      .about-image1{
        margin-left: 40px;
      }
   }
   @media (max-width: 767px) {
    .about-image1 h1 {
        padding-top: 0px;
        font-size: 14px;
        font-weight: 700;
    }
    .h6{
        padding-right: 10px;
    }
    .h6 h6{
       font-size: 14px;
    }
    .about-button1{
    margin-left: 15px;
       
    }
    .line{
        padding-top: 0px;
             left: 20%;
    
      }
  }