.Custom_Card {
   
    padding: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    opacity: 0.9; 
    transition: all 0.3s ease; 
    height: 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
 
  }
  .h2{
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .Custom_Card h4{

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .Custom_Card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    opacity: 1;
  
  }
 